*{
    margin:0px;
    background-color: black;
}
.stage{
  width:60%;
 position:relative;
 top:16px;
height:65vh;

}
li{
    text-align: center;
    text-decoration: none;
    margin-top: 14px;
    list-style: none;
}
ul{
    display:flex;
    justify-content:space-evenly;
   
}
a{
    text-decoration: none;
   color:white;
}
a:hover{
    color: hotpink;
}
.contact{
    font-size: 22px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
nav{
   background:transparent;
    height:50px;
    margin-top:0px;
    z-index:5;
    backdrop-filter: blur(10px);
}
header{
    background:transparent;
    position:fixed;
    width:100%;
    z-index:5;
    backdrop-filter: blur(10px);
}

img{
    background-size:cover;
    object-fit: cover;
    width:100%;
    border-radius: 10%;
    border:1px solid white;
    height:100%;
}
.stage1{
   margin-top: 60px;
}
.container{
    display:flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    gap:8vh;
}
