*{
    margin:0px;
    background-color: black;
}
.stage{
  width:60%;
 position:relative;
 top:16px;
height:65vh;

}

img{
    background-size:cover;
    object-fit: cover;
    width:100%;
    border-radius: 10%;
    border:1px solid white;
    height:100%;
}
.container{
    display:flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    gap:8vh;
}